
body 
{
background-color: blanchedalmond;
font-family: 'Josefin Sans', sans-serif;
font-size: large;
margin: auto;
}
.conted {
  padding: 10px;
  background-color: rgb(236, 218, 191);
  box-shadow: 1px 1px 1px rgb(248, 0, 0);
  margin: 20px;
}